## Introduction
Delfi Kusuma Wardhani

H8 FTDS - 002

## Assignment Instructions

- Unduh dataset yang akan dipakai [disini](https://www.kaggle.com/hendratno/covid19-indonesia).
- Cari Measure of Central Tendency dari data tersebut.
- Cari Measure of Variance dari data tersebut.

## Dataset Description
The COVID-19 pandemic dataset in Indonesia, time series. This dataset is a compilation of various open data sources, including: covid19.go.id (pandemic data), kemendagri.go.id (demographic data), bps.go.id (demographic data), as well as some calculations of the relationship of the data.

This dataset contains a time series of COVID-19 pandemic events in Indonesia, at the country level to province level. If possible, in the future I will provide it to the city/regency level.

## Import Library

In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import t as t_func
from scipy.stats import norm
from scipy.stats import kurtosis

## Data Loading

In [90]:
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,0.07,0.12,55.56%,111.11%,NaN,NaN,NaN,NaN,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,0.02,0.15,66.67%,366.67%,0.00,0.33,NaN,NaN,NaN,NaN
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,0.02,0.17,77.78%,522.22%,1.00,1.00,NaN,NaN,NaN,NaN
3,1/11/2020,ID-JI,Jawa Timur,0,3,8,-11,9,10,55,...,0.07,0.25,111.11%,611.11%,1.00,3.00,NaN,NaN,NaN,NaN
4,1/12/2020,ID-JI,Jawa Timur,0,3,1,-4,9,13,56,...,0.07,0.32,144.44%,622.22%,1.00,1.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16278,7/9/2021,ID-SG,Sulawesi Tenggara,124,1,3,120,12447,252,10412,...,0.38,95.62,2.02%,83.65%,0.92,0.50,NaN,NaN,NaN,NaN
16279,7/9/2021,ID-SA,Sulawesi Utara,278,9,9,260,17424,572,15525,...,3.41,216.51,3.28%,89.10%,1.24,9.00,NaN,NaN,NaN,NaN
16280,7/9/2021,ID-SB,Sumatera Barat,718,10,275,433,55675,1259,48840,...,1.81,228.11,2.26%,87.72%,0.93,1.00,NaN,NaN,NaN,NaN
16281,7/9/2021,ID-SS,Sumatera Selatan,341,6,221,114,31147,1569,27088,...,0.73,190.93,5.04%,86.97%,1.15,0.38,NaN,NaN,NaN,NaN
16282,7/9/2021,ID-SU,Sumatera Utara,336,5,241,90,38040,1232,33773,...,0.34,82.82,3.24%,88.78%,1.22,0.83,NaN,NaN,NaN,NaN

## Data Preprocessing

In [70]:
df.isnull().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                16283
Province                         495
Country                            0
Continent                          0
Island                           495
Time Zone                        495
Special Status                 13890
Total Regencies                    0
Total Cities                     469
Total Districts                    0
Total Urban Villages             471
Total Rural Villages             496
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases       985
Growth Factor of New Deaths     1939
Name                           16283
Item                           16283
Kind                           16283
Hidden                         16283
dtype: int64

In [91]:
hapus = ['City or Regency','Name','Item', 'Kind', 'Hidden', 'Special Status', 
'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million',
'Total Deaths per Million','Longitude','Latitude']
df.drop(hapus, axis=1, inplace=True)
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,666,777.0,7724.0,47803,40479023,846.78,55.56%,111.11%,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,666,777.0,7724.0,47803,40479023,846.78,66.67%,366.67%,0.00,0.33
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,666,777.0,7724.0,47803,40479023,846.78,77.78%,522.22%,1.00,1.00
3,1/11/2020,ID-JI,Jawa Timur,0,3,8,-11,9,10,55,...,666,777.0,7724.0,47803,40479023,846.78,111.11%,611.11%,1.00,3.00
4,1/12/2020,ID-JI,Jawa Timur,0,3,1,-4,9,13,56,...,666,777.0,7724.0,47803,40479023,846.78,144.44%,622.22%,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16278,7/9/2021,ID-SG,Sulawesi Tenggara,124,1,3,120,12447,252,10412,...,219,377.0,1911.0,38068,2635461,69.23,2.02%,83.65%,0.92,0.50
16279,7/9/2021,ID-SA,Sulawesi Utara,278,9,9,260,17424,572,15525,...,171,332.0,1507.0,13892,2641884,190.17,3.28%,89.10%,1.24,9.00
16280,7/9/2021,ID-SB,Sumatera Barat,718,10,275,433,55675,1259,48840,...,179,230.0,928.0,42013,5519245,131.37,2.26%,87.72%,0.93,1.00
16281,7/9/2021,ID-SS,Sumatera Selatan,341,6,221,114,31147,1569,27088,...,241,387.0,2853.0,91592,8217551,89.72,5.04%,86.97%,1.15,0.38
16282,7/9/2021,ID-SU,Sumatera Utara,336,5,241,90,38040,1232,33773,...,450,693.0,5417.0,72981,14874889,203.82,3.24%,88.78%,1.22,0.83

In [92]:
df.isnull().sum()

Date                              0
Location ISO Code                 0
Location                          0
New Cases                         0
New Deaths                        0
New Recovered                     0
New Active Cases                  0
Total Cases                       0
Total Deaths                      0
Total Recovered                   0
Total Active Cases                0
Location Level                    0
Province                        495
Country                           0
Continent                         0
Island                          495
Time Zone                       495
Total Regencies                   0
Total Cities                    469
Total Districts                   0
Total Urban Villages            471
Total Rural Villages            496
Area (km2)                        0
Population                        0
Population Density                0
Case Fatality Rate                0
Case Recovered Rate               0
Growth Factor of New Cases      985
Growth Factor of New Deaths    1939
dtype: int64

In [93]:
df.fillna('Unknown', inplace=True)

In [94]:
df.isnull().sum()

Date                           0
Location ISO Code              0
Location                       0
New Cases                      0
New Deaths                     0
New Recovered                  0
New Active Cases               0
Total Cases                    0
Total Deaths                   0
Total Recovered                0
Total Active Cases             0
Location Level                 0
Province                       0
Country                        0
Continent                      0
Island                         0
Time Zone                      0
Total Regencies                0
Total Cities                   0
Total Districts                0
Total Urban Villages           0
Total Rural Villages           0
Area (km2)                     0
Population                     0
Population Density             0
Case Fatality Rate             0
Case Recovered Rate            0
Growth Factor of New Cases     0
Growth Factor of New Deaths    0
dtype: int64

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  Province                     16283 non-null  object
 13  Country                      16283 non-null  object
 14  Continent                    16283 non-null  object
 15  Island                       16283 non-null  object
 16  Time Zone                    16283 non-null  object
 17  Total Regencies              16283 non-null  int64
 18  Total Cities                 16283 non-null  object
 19  Total Districts              16283 non-null  int64
 20  Total Urban Villages         16283 non-null  object
 21  Total Rural Villages         16283 non-null  object
 22  Area (km2)                   16283 non-null  int64
 23  Population                   16283 non-null  int64
 24  Population Density           16283 non-null  float64
 25  Case Fatality Rate           16283 non-null  object
 26  Case Recovered Rate          16283 non-null  object
 27  Growth Factor of New Cases   16283 non-null  object
 28  Growth Factor of New Deaths  16283 non-null  object
dtypes: float64(1), int64(12), object(16)
memory usage: 3.6+ MB

## Data Exploration

In [96]:
b = df.groupby('Location')[['New Cases']].sum()
b

                            New Cases
Location
Aceh                            20140
Bali                            54079
Banten                          61689
Bengkulu                        11671
DKI Jakarta                    636346
Daerah Istimewa Yogyakarta      72560
Indonesia                     2455912
Jambi                           13935
Jawa Barat                     440379
Jawa Tengah                    285348
Jawa Timur                     189705
Kalimantan Barat                16811
Kalimantan Selatan              37176
Kalimantan Tengah               27808
Kalimantan Timur                83762
Kalimantan Utara                14274
Kepulauan Bangka Belitung       23188
Kepulauan Riau                  30637
Lampung                         24378
Maluku                          10465
Maluku Utara                     6526
Nusa Tenggara Barat             13466
Nusa Tenggara Timur             22933
Papua                           21503
Papua Barat                     13087
Riau                            74899
Sulawesi Barat                   6251
Sulawesi Selatan                67280
Sulawesi Tengah                 14669
Sulawesi Tenggara               12447
Sulawesi Utara                  17424
Sumatera Barat                  55675
Sumatera Selatan                31147
Sumatera Utara                  38040

In [115]:
df_baru = df[['Date','Location','New Cases','New Deaths', 'New Recovered','Population','Population Density','Case Fatality Rate']]
df_baru

,Date,Location,New Cases,New Deaths,New Recovered,Population,Population Density,Case Fatality Rate
0,1/8/2020,Jawa Timur,9,3,1,40479023,846.78,55.56%
1,1/9/2020,Jawa Timur,0,1,23,40479023,846.78,66.67%
2,1/10/2020,Jawa Timur,0,1,14,40479023,846.78,77.78%
3,1/11/2020,Jawa Timur,0,3,8,40479023,846.78,111.11%
4,1/12/2020,Jawa Timur,0,3,1,40479023,846.78,144.44%
...,...,...,...,...,...,...,...,...
16278,7/9/2021,Sulawesi Tenggara,124,1,3,2635461,69.23,2.02%
16279,7/9/2021,Sulawesi Utara,278,9,9,2641884,190.17,3.28%
16280,7/9/2021,Sumatera Barat,718,10,275,5519245,131.37,2.26%
16281,7/9/2021,Sumatera Selatan,341,6,221,8217551,89.72,5.04%
16282,7/9/2021,Sumatera Utara,336,5,241,14874889,203.82,3.24%

In [116]:
df_baru.describe()

,New Cases,New Deaths,New Recovered,Population,Population Density
count,16283.000000,16283.000000,16283.000000,1.628300e+04,16283.000000
mean,301.271879,7.919364,248.015783,1.605704e+07,768.308731
std,1330.028199,32.171434,997.784905,4.546363e+07,2784.573161
min,0.000000,0.000000,0.000000,6.484070e+05,8.590000
25%,6.000000,0.000000,2.000000,2.570289e+06,47.790000
50%,39.000000,1.000000,24.000000,4.340348e+06,103.840000
75%,127.000000,4.000000,106.000000,9.095591e+06,262.700000
max,38391.000000,1040.000000,28975.000000,2.651855e+08,16334.310000

## Measure of Variance

In [117]:
df_baru.groupby('Location').sum()

,New Cases,New Deaths,New Recovered,Population,Population Density
Location,,,,,
Aceh,20140,862,15534,2471458047,42644.34
Bali,54079,1618,46180,2049059106,354502.98
Banten,61689,1452,50392,5264685634,544833.24
Bengkulu,11671,194,9530,931785174,46777.08
DKI Jakarta,636346,9250,526921,5379687920,8101817.76
Daerah Istimewa Yogyakarta,72560,1892,54220,1746518215,557430.90
Indonesia,2455912,64631,2023548,131266832400,68478.30
Jambi,13935,284,11892,1666331289,33289.83
Jawa Barat,440379,6008,348619,22354855875,631892.25
Jawa Tengah,285348,12553,223689,17782031208,542124.96
Jawa Timur,189705,13633,160287,22222983627,464882.22
Kalimantan Barat,16811,411,14370,2537876952,17227.08
Kalimantan Selatan,37176,1091,34774,1878763883,48493.28
Kalimantan Tengah,27808,555,21044,1210606119,7884.54
Kalimantan Timur,83762,2001,73746,1715708253,13292.16
Kalimantan Utara,14274,209,12318,304102883,4028.71
Kepulauan Bangka Belitung,23188,365,20732,644351189,39232.67
Kepulauan Riau,30637,639,23925,922253200,112444.72
Lampung,24378,1149,19184,4284023361,123731.70
Maluku,10465,164,7708,877371075,18700.75
Maluku Utara,6526,142,4650,619898622,19381.86
Nusa Tenggara Barat,13466,498,11450,2455935102,132236.82
Nusa Tenggara Timur,22933,493,17386,2472973697,50758.99
Papua,21503,213,11696,2061665300,6460.00
Papua Barat,13087,197,9820,536129470,5207.60
Riau,74899,2019,67986,3006679500,34551.00
Sulawesi Barat,6251,127,5595,731632496,43584.17
Sulawesi Selatan,67280,1021,62670,4506051030,96450.84
Sulawesi Tengah,14669,423,12988,1392072057,22509.09
Sulawesi Tenggara,12447,252,10412,1283469507,33715.01
Sulawesi Utara,17424,572,15525,1244327364,89570.07
Sumatera Barat,55675,1259,48816,2599564395,61875.27
Sumatera Selatan,31147,1543,27061,3895119174,42527.28
Sumatera Utara,38040,1231,33773,7139946720,97833.60

In [118]:
df_baru.corr()

,New Cases,New Deaths,New Recovered,Population,Population Density
New Cases,1.000000,0.923413,0.919865,0.632065,0.137188
New Deaths,0.923413,1.000000,0.897754,0.696282,0.069342
New Recovered,0.919865,0.897754,1.000000,0.693295,0.151009
Population,0.632065,0.696282,0.693295,1.000000,-0.005549
Population Density,0.137188,0.069342,0.151009,-0.005549,1.000000

In [109]:
# Standard deviation
print("Numeric columns Standard Deviation")
print(df_baru.std())
print("")
print("Numeric columns Variance")
print(df_baru.var())
print("")
#Range
num_columns = df_baru.describe().columns
print(df_baru[num_columns].max()-df_baru[num_columns].min())

Numeric columns Standard Deviation
New Cases             1330.028199
New Deaths              32.171434
New Recovered          997.784905
Population Density    2784.573161
dtype: float64

Numeric columns Variance
New Cases             1.768975e+06
New Deaths            1.035001e+03
New Recovered         9.955747e+05
Population Density    7.753848e+06
dtype: float64

New Cases             38391.00
New Deaths             1040.00
New Recovered         28975.00
Population Density    16325.72
dtype: float64